.avis {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content:space-around;
}

.containerStarsAvis {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerMessageAvis {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}




