.containerImageAvis {
    width: 1000px;
}

.containerImageAvis:hover img {
    transform: scale(1.1);
}

.containerImage {
    overflow: hidden;
    width: 440px;    
}

.containerImage img {
    vertical-align: top;
    max-width: 100%;
    transition: all 1s;
}
  
.containerAvis {
    cursor: pointer;
    padding: 40px 40px;
}

@media screen and (max-width: 920px) {
    .containerImageAvis {
        width: 450px;
    }

    .containerAvis {
        cursor: pointer;
    }

}